<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="clientApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">

          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>


          <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="MenuCtrl">

            <ul class="nav navbar-nav" ng-hide="isLoggedIn" id="menu_buttons">
              <li class="active" id="home"><a href="#/" onclick="active_click('home')">Home</a></li>
              <li id="join"><a ng-href="#/signup" onclick="active_click('join')">Join US!</a></li>
              <li id="login"><a ng-href="#/login" onclick="active_click('login')">Log IN !</a></li>
            </ul>

            <div class="btn-group pull-right acc-buttion" ng-show="isLoggedIn">
              <button type="button" class="btn btn-default">
                {{ username }}
              </button>

              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a ng-href="/#/dashboard">Dashboard</a>
                </li>
                <li>
                  <a ng-href="/#/addpost">Add Post</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="logout()" href="#">Logout</a>
                </li>
              </ul>
            </div>


          </div>


          <div ng-controller="AlertsCtrl">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">
              {{ alert.msg }}
            </alert>
            <div ng-view=""></div>
          </div>

        </div>

      </div>
    </div>

    <!--<div class="container">-->
    <!--<div ng-view=""></div>-->
    <!--</div>-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- Active Transfer between different tabs on the top -->
    <script>
      function active_click(id){
        var n = document.getElementById('menu_buttons').childNodes;
        for(i=0;i<n.length;i++)
          n[i].className = '';

        document.getElementById(id).className = 'active';
      }
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/services/alerts.js"></script>
        <script src="scripts/controllers/alerts.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/addpost.js"></script>
        <script src="scripts/controllers/viewpost.js"></script>
        <script src="scripts/controllers/closepost.js"></script>
        <!-- endbuild -->
</body>
</html>
