<h4>My Posts</h4>
<div ng-hide="posts.length">
  No posts yet.
  <a ng-href="/#/addpost">
    Add a post now!
  </a>
</div>

<button class="btn btn-primay" style="margin-bottom:1%;margin-top:1%">Show all the posts</button>
<button class="btn btn-primay" style="margin-bottom:1%;margin-top:1%">Show only the active posts</button>

<div class="panel panel-default" ng-repeat="post in posts" style="margin-top:1%">
  <div class="panel-body">
    <a ng-href="/#/viewpost/{{ post.id }}">
      {{ post.subject }}
    </a>
    |
    Comments
    <span class="badge">
      {{ post.commentCount }}
    </span>
  </div>

  </div>
</div>

